@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
@import "./variables.scss";

html {
  background-color: $main-blue;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #0984e3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;

  h1 {
    font-weight: 900;
    margin-top: 0px;
    font-size: 3em;
    margin-bottom: 10px;
    color: white;
    text-shadow: 0px 0px 10px rgba(70, 70, 70, 0.37);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }

  h2 {
    font-size: 2em;
    font-weight: 500;
    color: rgb(24, 24, 24);
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"] {
    width: 100%;
    border: 1px solid rgb(185, 185, 185);
    padding: 5px;
    margin: 5px 0px;
    font-size: 1.2em;
    border-radius: 0px;
    -webkit-appearance: none;
  }
}

button,
input[type="submit"] {
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  background-color: $main-blue;
  margin: 5px;
  border-radius: 0px;
  color: #fff;
  -webkit-appearance: none;

  &:focus {
    outline: 0;
    border: 2px solid $secondary-blue;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  &:focus {
    outline: 0;
    border: 2px solid $secondary-blue !important;
  }
}

input {
  display: block;
}

.home-container {
  padding: 20px;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  border-radius: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 20px rgba($color: #2b2b2b, $alpha: 0.2);
  max-width: 500px;

  .login-form {
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;

    .login-submit {
      margin: auto;
      margin-top: 15px;
      width: 80%;
    }
  }

  .no-account-prompt {
    margin-top: 15px;

    p {
      font-size: 90%;
      margin-bottom: 2px;
    }

    button {
      padding: 8px 15px;
    }
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.block-centered {
  margin: auto;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 0px;
  border: 2px solid rgb(145, 145, 145);
  position: relative;
  box-sizing: border-box;

  &:focus {
    outline: 0;
    border: 3px solid $secondary-blue;
  }
}
input[type="checkbox"]:checked {
  background: $secondary-blue;

  &::after {
    font-family: "Poppins", sans-serif;
    margin: 0;
    content: "✓";
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
